# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignorar a pasta '.bolt'
.bolt/

# Ignorar a pasta 'public'
public/

# Ignorar a pasta 'node_modules'
node_modules/

# Ignorar a pasta 'build'
build/

# Ignorar a pasta 'dist'
dist/

# Ignorar a pasta 'dist-ssr'
dist-ssr/

# Ignorar arquivos locais
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
